{% extends 'base.html.twig' %}

{% block body %}
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Email</th>
            <th>Roles</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles|join(' | ') }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('app_admin_user_update', {'user': user.id}) }}">Update</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}