.idea
/bin
/migrations
/vendor
/vendor/*
vendor
/var
/var/*
var
var/cache
###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###
