{% extends 'base.html.twig' %}

{% block body %}
    <a class="btn btn-primary" href="{{ path('app_admin_create') }}">Create</a>
    <table class="table">
        <thead>
            <tr>
                <th>User</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.email }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('app_admin_update', {'user' : user.id}) }}">Update</a>
                    <a class="btn btn-primary" href="{{ path('app_admin_delete', {'user' : user.id}) }}">Delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}