{% extends 'base.html.twig' %}

{% block title %}New Message{% endblock %}

{% block body %}
    <h1>{{ title }}</h1>

    {{ form(form) }}

    <a class="btn btn-primary" href="{{ path('app_message_index') }}">Back</a>
{% endblock %}
