<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Symfony - {% block title %}App{% endblock %}</title>
    </head>
    <body>
        {% include 'parts/_nav.html.twig' %}
        {% block body %}{% endblock %}
    </body>
</html>