{% extends 'base.html.twig' %}

{% block body %}
<h1>{{'home.H1'|trans}}</h1>
    <script>
        fetch('/api/test')
            .then(response => {
                return response.json();
            })
            .then(chien => {
                console.log(chien);
            });
    </script>
{% endblock %}