{% extends 'layout.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    <p>Dashboard</p>
    {{ render_esi(controller('App\\Controller\\PostController::latest')) }}
{% endblock %}