<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Symfony - {% block title %}Default{% endblock %}</title>
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>