<html>
    <body>
    <form method='post'>
        <input type='text' name='subject'>
        <textarea name='body'></textarea>
        <input type='submit' value='Create'>
    </form>
    </body>
</html>