{% extends 'base.html.twig' %}

{% block body %}

    <form method='POST'>
        <input type='text' name='title' placeholder='Title'>
        <textarea name='body' placeholder='Body'></textarea>
        <input type='submit' value='Save'>
    </form>

{% endblock %}