{% extends 'base.html.twig' %}

{% block title %}New Post{% endblock %}

{% block body %}
    <form method="post">
        <input type="text" name="subject">
        <textarea name="body"></textarea>
        <input type="submit">
    </form>
{% endblock %}