{% extends 'base.html.twig' %}

{% block body %}
<form>
    <input name="title" placeholder="Title">
    <textarea name="body" placeholder="Body"></textarea>
    <input type="submit">
</form>
{% endblock %}