{% extends 'layout.html.twig' %}

{% block title %}Post Create{% endblock %}

{%  block body %}
    <form method='post'>
        <input type='text' name='subject' value='{{ post.subject }}'>
        <textarea name='body'>{{ post.body }}</textarea>
        <input type='submit' value='Edit'>
    </form>
{% endblock %}