{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('red') }}
{% endblock %}

{% block body %}
    <a class="btn btn-primary" href="{{ path('app_post_create') }}">Create</a>
    <table class="table">
        <thead>
            <tr>
                <th>Subject</th>
                <th>Body</th>
                <th>User</th>
                <th>Comments</th>
                <th>Created</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {{ render_esi(controller('App\\Controller\\PostController::getList')) }}
        </tbody>
    </table>
{% endblock %}