<nav>
    <ul>
        <li><a href="{{ path('app_default_home') }}">Index</a></li>
        <li><a href="{{ path('app_default_random') }}">Random</a></li>
        <li><a href="{{ path('app_default_random', {'min': 10, 'max': 'inf'}) }}">Random inf</a></li>
    </ul>
</nav>