{% extends "base.html.twig" %}

{% block title %}{{ parent() }}{{ title }}{% endblock %}

{% block body %}
    {% if is_granted('ROLE_ADMIN') %}
        <h1>User edit</h1>
    {% else %}
        <h1>User profil</h1>
    {% endif %}
    {{ form(form) }}
{% endblock %}