{% extends 'base.html.twig' %}

{% block body %}
    <h1>User List</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.email }}</td>
                    <td>
                        <a class="btn btn-primary" href="{{ path('app_user_update', {'user': user.id}) }}">Update</a>
                        <a class="btn btn-danger" href="{{ path('app_user_delete', {'user': user.id}) }}">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}