{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}
{% block body %}

    <form method="POST">
        <label for="username">Email</label>
        <input type="text" id="username" name="_username">

        <label for="password">Password</label>
        <input type="password" id="password" name="_password">

        <button type="submit">Login</button>
    </form>

{% endblock %}
