{% extends 'base.html.twig' %}

{% block title %}User {{ user.email }}{% endblock %}

{% block body %}
    <table class="table">
        <tbody>
            <tr>
                <td>{{ user.email }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('app_user_edit', {'user': user.id}) }}">Edit</a>
                    <a class="btn btn-danger" href="{{ path('app_user_delete', {'user': user.id}) }}">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}



